.dipi-woocommerce input[type=text],
.dipi-woocommerce input[type=number],
.dipi-woocommerce select {
    min-width: 400px;
}
.dipi-woocommerce .help-text {
    color: #777;
    font-size: 11px;
    padding: 5px;
}
.dipi-woocommerce .row {
    display: flex;
}
.dipi-woocommerce .col {
    flex: 1;
    margin-right: 20px;
    flex-shrink: 0;
}
.dipi-woocommerce .dipi-widget {
    max-width: 400px;
}